@model Uptime.Auction.Core.Auction
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>Create New Auction</h1>
    </div>
</div>
<div class="container">
    @using (Html.BeginForm("Create", "Auction", FormMethod.Post))
    {

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Item)</dt>
        <dd>@Html.TextBoxFor(m => m.Item) @Html.ValidationMessageFor(model => model.Item)</dd>

        <dt>@Html.DisplayNameFor(model => model.StartingPrice)</dt>
        <dd>@Html.TextBoxFor(m => m.StartingPrice) @Html.ValidationMessageFor(model => model.StartingPrice)</dd>

        <dt>@Html.DisplayNameFor(model => model.End)</dt>
        <dd>@Html.TextBoxFor(m => m.End) @Html.ValidationMessageFor(model => model.End)</dd>
    </dl>

        <button type="submit" class="btn btn-secondary" id="submit">Submit</button>
    }
</div>