@model List<Uptime.Auction.Web.Models.Auction>
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>Details</h1>
    </div>
</div>
<div class="container">
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>Item</th>
                <th>Starting Price</th>
                <th>Current Price</th>
                <th>Started</th>
                <th>Ends</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in Model)
            {
            <tr>
                <td>@auction.Item</td>
                <td>@auction.StartingPrice $</td>
                <td>@auction.CurrentPrice $</td>
                <td>@auction.Start</td>
                <td>@auction.End</td>
                <td>@Html.ActionLink("Details", "Details")</td>
            </tr>
            }
        </tbody>
    </table>
    <button type="button" onclick="location.href='@Url.Action("Create")'" class="btn btn-secondary">Create New Auction</button>
</div>
