@model Uptime.Auction.Web.Models.LoginModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>Login</h1>
    </div>
</div>
<div class="container">
    @using (Html.BeginForm("Login", "Auction", FormMethod.Post))
    {

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Username)</dt>
            <dd>@Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(model => model.Username)</dd>

            <dt>@Html.DisplayNameFor(model => model.Password)</dt>
            <dd>@Html.TextBoxFor(m => m.Password) @Html.ValidationMessageFor(model => model.Password)</dd>

        </dl>

        <button type="submit" class="btn btn-secondary" id="submit">Submit</button>
    }
</div>